# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.production.local

# custom
.env.test.local
.env.staging.local
.env.deployment.local


# vercel
.vercel

node_modules
coverage
coverage.json
typechain

#Hardhat files
cache

# ignore all the artifacts except the hodlnft and holdmarket abis
smart-contracts/artifacts/*
!smart-contracts/artifacts/contracts/

smart-contracts/artifacts/contracts/*
!smart-contracts/artifacts/contracts/HodlNFT.sol/
!smart-contracts/artifacts/contracts/HodlMarket.sol/

smart-contracts/artifacts/contracts/HodlNFT.sol/*
!smart-contracts/artifacts/contracts/HodlNFT.sol/HodlNFT.json

smart-contracts/artifacts/contracts/HodlMarket.sol/*
!smart-contracts/artifacts/contracts/HodlMarket.sol/HodlMarket.json

config.js
generateNfts/config.js
generateNfts/assets

// .gitignore

# OpenZeppelin
.openzeppelin/unknown-*.json

scripts/addresses.json
