* {
    -webkit-tap-highlight-color: transparent;
    font-family: Nunito Sans,sans-serif;
}

body {
  overflow-x: 'hidden';
}

:focus {
  outline: 0 !important;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}

/**************/
/* Typography */
/**************/
h1, .h1 {
  font-size: 1.3rem;
  font-weight: 600;
  margin: 0;
  margin-bottom: 16px;
  color: rgba(0, 0, 0, 0.87);
}

h2, .h2 {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0;
  padding-top: 16px;
  margin-bottom: 8px;
  color: rgba(0, 0, 0, 0.67);
}

h3, .h3 {
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0;
  padding-top: 4px;
  margin-bottom: 8px;
  color: rgba(0, 0, 0, 0.67);
}

p, ul {
  font-size: 1rem;
  margin: 0;
  margin-bottom: 16px;
  color: rgba(0, 0, 0, 0.67);
}

li {
  margin-bottom: 6px;
}

/**********/
/* Colors */
/**********/
.primary-main {
  color: #05778A
}

.text-primary {
  color: rgba(0, 0, 0, 0.87);
}

.text-secondary {
  color: rgba(0, 0, 0, 0.6);
}

/**************/
/* Animations */
/**************/

@keyframes shake {
  25% {transform: rotate(30deg);}
  75% {transform: rotate(-30deg);}
}

@keyframes flicker {
  0% { opacity: 0.2;}
  50% { opacity: 1;}
  100% { opacity: 0.2;}
}

/**************/
/* Scrollbars */
/**************/

/* body scrollbars */

/* firefox */
body {
  scrollbar-width: 12px;
}
/* chrome, edge, safari */
body::-webkit-scrollbar {
  width: 12px;
}

/* other scrollbars */

/* firefox */
* {
  scrollbar-width: 8px;
  scrollbar-color: #ddd #eee;
}

/* chrome, edge, safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #eee;
}

*::-webkit-scrollbar-thumb {
  background-color: #ddd;
  border-radius: 8px;
  border: 1px solid #bbb;
}

/*********/
/* Links */
/*********/
a {
  text-decoration: none;
  /* color: #05778A; */
}

a:hover {
  color: #05778A;
}

a:visited {
  color: #05778A;
}

